[Desktop Entry]
Version=1.0
Name=Pdc
Exec=Pdc
Icon=/usr/share/pixmaps/desktop_linux_icon.png
MimeType=application/x-desktop
Terminal=true
Type=Application