<div
    (click)="select($event, wallet.wallet_id)"
    (keydown.enter)="select($event, wallet.wallet_id)"
    (keydown.space)="select($event, wallet.wallet_id)"
    [attr.aria-selected]="wallet?.wallet_id === variablesService?.current_wallet?.wallet_id"
    [ngClass]="{
        active: wallet?.wallet_id === variablesService?.current_wallet?.wallet_id,
        auditable: wallet.is_auditable && !wallet.is_watch_only,
        'watch-only': wallet.is_watch_only
    }"
    class="wallet"
    role="option"
    tabindex="0"
>
    <span *ngIf="variablesService.testnet" class="testnet">Testnet</span>

    <div class="content">
        <header class="header">
            <div class="overflow-hidden">
                <pdc-wallet-card-name [wallet]="wallet"></pdc-wallet-card-name>
            </div>

            <pdc-wallet-card-button-close [wallet]="wallet"></pdc-wallet-card-button-close>
        </header>

        <pdc-wallet-card-balance [wallet]="wallet"></pdc-wallet-card-balance>

        <pdc-wallet-card-alias [wallet]="wallet"></pdc-wallet-card-alias>

        <pdc-wallet-card-staking [wallet]="wallet"></pdc-wallet-card-staking>

        <pdc-wallet-card-progress [wallet]="wallet"></pdc-wallet-card-progress>
    </div>
</div>
